<%= turbo_frame_tag bubble, :assignees do %>
  <div class="flex">
    <% bubble.assignees.each do |assignee| %>
      <%= avatar_tag assignee, loading: :lazy, class: "avatar" %>
    <% end %>

    <div class="position-relative" data-controller="dialog" data-action="keydown.esc->dialog#close click@document->dialog#closeOnClickOutside">
      <button class="btn card__hide-on-index <%= bubble.creating? || bubble.drafted? ? "fill-highlight" : "fill-transparent" %>" data-action="click->dialog#open:stop">
        <%= icon_tag "add" %>
        <span class="for-screen-reader">Assign</span>
      </button>

      <%= turbo_frame_tag bubble, :assignment, src: new_bucket_bubble_assignment_toggle_path(bubble.bucket, bubble) %>
    </div>
  </div>
<% end %>
