<div class="card card--mini shadow border flex gap position-relative txt-align-start full-width border-radius" style="view-transition-name: <%= dom_id(bubble, :ticket) %>;">
  <%= avatar_image_tag bubble.creator, loading: :lazy, class: "avatar" %>

  <div class="card__body flex flex-column gap-half full-width flex-item-grow min-width max-width">
    <h3 class="card__title">
      <%= bubble.title %>
    </h3>
    <div class="txt-small overflow-ellipsis txt-uppercase"><%= "Added to #{bubble.bucket.name} by #{bubble.creator.name}" %>
      <%= local_datetime_tag(bubble.created_at, style: :daysAgo) %>
    </div>
    <div class="card__stuff flex align-center gap">
      <%= render "bubbles/assignees", bubble: bubble %>
      <div class="overflow-ellipsis"><%= render "bubbles/tags", bubble: bubble %></div>
    </div>
  </div>

  <%= link_to bucket_bubble_path(bubble.bucket, bubble), class: "card__link" do %>
    <span class="for-screen-reader"><%= bubble_title(bubble) %></span>
  <% end %>
</div>
