<%= messages_tag(bubble) do %>
  <%# Template Dependency: comments/comment %>
  <%= render partial: "messages/message", collection: bubble.messages, cached: true %>
  <%= render "comments/new", bubble: bubble, cached: true %>

  <div class="comments__subscribers flex flex-column margin-block txt-align-start full-width">
    <strong class="txt-uppercase">Subscribers</strong>

    <p class="margin-none-block-start margin-block-end-half">
      <%= pluralize(@bubble.watchers.count, "person") %> will be notified when someone comments on this.
    </p>

    <div class="flex align-center flex-wrap gap-half max-width txt-normal">
      <% prepend_current_user_to(@bubble.watchers.alphabetically).each do |watcher| %>
        <%= avatar_tag watcher, loading: :lazy %>
      <% end %>
    </div>
  </div>
<% end %>
