<div class="filters flex align-center gap-half margin-none-block justify-center center">
  <div class="flex-inline center align-center gap-half">
    <%= render "filters/tags", filter: filter %>
    <%= render "filters/assignees", filter: filter %>
    <%= render "filters/creators", filter: filter %>
    <%= render "filters/stages", filter: filter %>
    <%= render "filters/cards", filter: filter %>
    <%= render "filters/indexed_by", filter: filter %>

    <% filter.terms.each do |term| %>
      <%= filter_chip_tag %Q("#{term}"), filter.as_params_without(:terms, term) %>
    <% end %>

    <% if any_filters?(filter) %>
      <%= link_to cards_path(filter.as_params.except(:assignee_ids, :assignment_status, :card_ids, :creator_ids, :stage_ids, :tag_ids, :terms, :indexed_by)), class: "btn btn--remove txt-x-small" do %>
        <%= icon_tag "close" %>
        <span class="for-screen-reader">Clear all</span>
      <% end %>
    <% end %>
  </div>
</div>
